body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(145deg, #000000, #0a0a0aa8);
  overflow: hidden;
  background-size: cover;
  position: relative;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(https://wallpapers.com/images/hd/pink-anime-aesthetic-dancer-fdn0a2id2n9h0idd.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  filter: blur(8px) brightness(0.5);
  z-index: -1;
}

h1 {
    margin-bottom: 1rem;
    color: #ffffff;
    text-align: center;
}

.logo {
  display: block;
  max-width: 100%;
  height: auto;
  margin-bottom: 1rem;
}

.gif {
  display: block;
  max-width: 100%;
  height: auto;
  margin-bottom: 1rem;
}

  #overlay-toggle {
    position: absolute;
    display: none;
  }
  
  .overlay {
    z-index: 1;
    background-color: #000000;
  }
  
  .overlay label {
    display: grid;
    place-items: center;
    width: 100vw;
    height: 100vw;
    color: rgb(255, 255, 255);
    font-size: 2rem;
  }
  
  .no-hover {
    display: block;
  }
  
  .fullscreen {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-height: 100vh;
    min-width: 100vw;
  }
  
  #center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  
  #overlay-toggle:checked ~ .overlay {
    animation-fill-mode: forwards;
    animation-name: fade, hide;
    animation-delay: 0s, 600ms;
    animation-duration: 600ms, 1ms;
  }
  
  #overlay-toggle:checked ~ .overlay label {
    animation-fill-mode: forwards;
    animation-name: fade;
    animation-delay: 0s;
    animation-duration: 500ms;
  }
  
  #canvas-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  
  @media(hover: hover) {
    .overlayhover {
        display: block;
    }
    .overlayno-hover {
        display: none;
    }
  }
  
  @keyframes fade {
    to {
        opacity: 0;
    }
  }
  
  @keyframes hide {
    to {
        visibility: hidden;
    }
  }
  
  
  .sound-toggle {
    position: absolute;
    top: 10px;
    left: 10px;
    cursor: pointer;
  }
  
  .sound-icon {
    width: 25px;
    height: 25px;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 1rem;
}

.btn {
    padding: 10px 20px;
    text-transform: uppercase;
    border-radius: 8px;
    font-size: 17px;
    font-weight: 500;
    color: #ffffff80;
    text-shadow: none;
    background: transparent;
    cursor: pointer;
    box-shadow: transparent;
    border: 1px solid #ffffff80;
    transition: 0.5s ease;
    user-select: none;
}

.btn:hover {
    color: #ffffff;
    background: #f86ded;
    border: 1px solid #fa79ef;
    text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff;
    box-shadow: 0 0 5px #fb81ff, 0 0 20px #ff90f0, 0 0 50px #f4a0ff, 0 0 100px #fa79ef;
}

